html {
  font-size: 14px;
}

body {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('./resources/cell9.png');
  background-size: cover;
}

.main_container {
  margin-top: -1em;
  text-align: center;
}

h1 {
  margin-top: -0.5em;
  font-family: 'Mrs Sheppards', cursive;
  font-size: 13em;
  color: white;
  text-shadow: 3px 3px 8px #ff7300;
  letter-spacing: 0.1em;
}

#canvas_container {
  margin-top: -9em;
  height: 600px;
  width: 800px;
  border: 1px solid black;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}
